body {
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0; }

.App {
  text-align: center; }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }

h1, h2, h3 {
  margin: 0; }

.sms-Topbar {
  background-color: #e32929;
  height: 50px;
  width: 100%; }
  .sms-Topbar-langSelector {
    float: left;
    list-style-type: none; }
    .sms-Topbar-langSelector-item {
      display: inline;
      padding: 5px; }

.sms-Header {
  background: url(../img/header.jpg) center top no-repeat;
  background-size: cover;
  height: 400px; }
