body {
  font-family: 'Open Sans', sans-serif;
  background: $c-bgcolor;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  
  &-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
}

h1, h2, h3 {
  margin: 0;
}